@media print {
    @page {
        size: A4;
    }
    body {
        font-size: 12pt;
    }
    img.avatar {
        display: none;
    }
    .main-wrapper .time {
        float: right;
        color: black !important;
        -webkit-print-color-adjust: exact;
        position: initial;
        margin-top: 0;
    }
    .main-wrapper .summary-section {
        margin-bottom: 30px;
    }
    .education-container.container-block {
        padding-bottom: 0;
    }
    .education-container .container-block-title {
        text-transform:capitalize;
    }
    .sidebar-wrapper {
        -webkit-print-color-adjust: exact;
        display: flex;
        min-height: 0;
        align-items: flex-start;
        flex-wrap: wrap;
        div {
            width: 50vw;
        }
        a:after {
            content: ''
        }
    }
    .profile-container {
        flex-basis: 100%;
    }
    .interests-container {
        display: none;
    }
    .fa-inverse:before {
        color: #fff !important;
    }
    .remove-container.container-block {
        display: none;
    }
    footer {
        display: none;
    }
    .skillset .level-bar-inner {
        background-color: black !important;
        -webkit-print-color-adjust: exact;
    }
    .main-wrapper .item .upper-row {
        display: flex;
        justify-content: space-between;
        .job-title {
            font-size: 20px;
        }
    }
    .item.highervis {
        page-break-before: always;
    }
    .section.projects-section {
        page-break-before: always;
    }
    .phone {
        display: list-item;
    }
}